@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Heebo:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main-section-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
